.form_row {
	display: flex;
	margin: 10%;
	height: 15%;
	align-items: center;
}

#product_table {
	margin: 0% 5%;
	width:100%;
	border-collapse: separate;
	border-spacing: 0 75px;
}

th {
	vertical-align: top;
	align: left;
}