h1 {
	text-align: center;
}

h3 {
	text-align: center;
	margin-bottom: 0;
}

h4 {
	text-align: center;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#dog {
	width: 50%;
	margin: auto;
}

#greg {
	width: 10%;
	margin: auto;
}

#loading_bar {
	width: 5%;
	margin: auto;
}

a {
	text-align: center;
}
